/* menghapus margin dan padding pada tag */
/* body, h1, p {
    margin: 0;
    padding: 0;
} cara kurang praktis karena harus menambah tag manual (body, h1, p, h2) */

/* selector universal = semua element html */
* {
    margin: 0;
    padding: 0;
}

/* banyak element html yg memiliki margin dan padding default */
div {
    width: 200px;
    height: 200px;
    background-color: black;
}