body, html {
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 50px auto;
  border: 5px orange solid;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 300px), 1fr;
}

.item {
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: pink;
}